{% extends 'admin/change_form.html' %}
{% load static %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            document.addEventListener('DOMContentLoaded', function() {
                var form = document.querySelector('form#{{ opts.model_name }}_form') || document.querySelector('form');
                
                form.addEventListener('submit', function(e) {
                    var submitter = e.submitter || document.activeElement;
                    var isSaveAction = submitter && (
                        submitter.name === '_save' || 
                        submitter.name === '_continue' || 
                        submitter.name === '_addanother'
                    );
                    
                    if (isSaveAction && !confirm('Are you sure you want to save these changes?')) {
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                });
            });
        })();
    </script>
{% endblock %}